<p-tabView>
  <p-tabPanel header="Appetizer" [cache]="false">
    <ng-template pTemplate="content">
      <app-food-panel className="appetizer"></app-food-panel>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Main Course" [cache]="false">
    <ng-template pTemplate="content">
      <app-food-panel className="maincourse"></app-food-panel>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Dessert" [cache]="false">
    <ng-template pTemplate="content">
      <app-food-panel className="dessert"></app-food-panel>
    </ng-template>
  </p-tabPanel>
</p-tabView>
