<div style="background-color: #F5F5F5;">
  <div class="flex align-content-center">
    <div class="flex align-items-center justify-content-center m-2">
      <a routerLink="food/"><img [src]="'images/uhurulogo_blue.svg' | assetUrl" height="48px"></a> <span
      style="color: rgb(71,0,0,0.5); letter-spacing: 8px; font-size: 2rem; margin-left: 8px;">Wokshop</span>
    </div>
    <div class="flex flex-grow-1 align-items-center justify-content-start m-2">
      <p-tabMenu [model]="items"></p-tabMenu>
    </div>
    <div class="flex align-items-center justify-content-center m-2" style="font-size: 1.2rem">
    </div>
  </div>
</div>
