<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta http-equiv="Content-Security-Policy"
          content="default-src *  data: blob: 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src *; style-src * data: blob: 'unsafe-inline'; font-src * data: blob: 'unsafe-inline';">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add importmap -->
    <meta name="importmap-type" content="systemjs-importmap">
    <script type="systemjs-importmap" src="config/importmap.json">
    </script>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/single-spa/5.5.0/system/single-spa.min.js"
          as="script" crossorigin="anonymous"/>
    <script src="https://unpkg.com/import-map-overrides@1.15.1/dist/import-map-overrides.js"></script>
    <script src='https://unpkg.com/core-js-bundle@3.1.4/minified.js'></script>
    <script src="https://unpkg.com/zone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/system.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/amd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/named-exports.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/named-register.min.js"></script>

    <!-- Add routing -->
    <template id="single-spa-layout">
        <single-spa-router>
            <route path="/">
                <nav class="topnav">
                    <application name="@wokshop/nav"></application>
                </nav>
            </route>
            <div class="main-content">
                <route path="food">
                    <application name="@wokshop/food"></application>
                </route>
            </div>
        </single-spa-router>
    </template>

</head>
<body>
<script>
    <!-- Import configs of root and styleguide -->
    System.import('@wokshop/styleguide');
    System.import('@wokshop/root-config');
</script>
<!-- Add import-map-overrides for debugging -->
<import-map-overrides-full></import-map-overrides-full>
</body>
</html>
