:host {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
}

img {
  vertical-align: middle;
  margin: 8px 8px 8px 8px;
}

i {
  margin: 16px;
  font-size: 24px;
}

.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.food-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.food-description {
  margin: 0 0 1rem 0;
}

.food-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.food-category {
  font-weight: 600;
  vertical-align: middle;
}

.food-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.food-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.food-list-item .food-list-detail {
  flex: 1 1 0;
}

.food-list-item .p-rating {
  margin: 0 0 .5rem 0;
}

.food-list-item .food-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.food-list-item .food-list-action {
  display: flex;
  flex-direction: column;
}

.food-list-item .p-button {
  margin-bottom: .5rem;
}
