<div class="card">
  <p-dataView #dv [value]="foodList" [paginator]="true" [rows]="9"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="list">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
      </div>
    </ng-template>
    <ng-template let-food pTemplate="listItem">
      <div class="col-12">
        <div class="food-list-item">
          <img [src]="'images/food/' + this.className + '/' + food.image | assetUrl" [alt]="food.name"/>
          <div class="food-list-detail">
            <div class="food-name">{{food.name}}</div>
            <div class="food-description">{{food.description}}</div>
            <i class="pi pi-info-circle food-category-icon"></i><span class="food-category">{{food.category}}</span>
          </div>
          <div class="food-list-action">
            <span class="food-price">${{food.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
