@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    font-size: 14px;
    --primary-color: #8F2D29 !important;
}

body {
    background-color: #FFFDFB;
    font-family: 'Georama', sans-serif;
    color: rgba(43,0,0,1);
    margin: 0;
}

h1 {
    color: #8F2D29 !important;
}

h2 {
    color: #9C312D;
    font-family: 'Georama', sans-serif;
}

a {
    color: rgba(43, 0, 0, 0.5);
    transition: color 0.5s;
}

a:hover {
    color: rgba(43, 0, 0, 0.75);
}

button {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}

button.flat {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.5s;
    margin-left: auto;
}

button.flat:hover {
    background-color: rgba(255, 255, 255, 0.75);
}


span.left * {
    vertical-align: middle;
}

span.right {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.main-content {

    margin: 8px;
}

.frame {
    position: relative;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    padding: 8px;
}

.row {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin: 8px 0px;
    padding: 4px 0px;
}

h1 {
    color: rgba(255,255,255,0.25);
    letter-spacing: 2px;
}

.p-card {
    border: 1px solid rgba(255,217,89,0.25);
}

.p-button-uhuru {
    background-color: #79cdea !important;
}
